
h1, h2, h3, h4, h5, h6 {
margin-bottom: 15px;
}

h1.caslon {
font-family: "adobe-caslon-pro", serif;
font-style: italic;
font-weight: 700;
font-size: 72px;
color: black;
}



#teasCoverPhoto {
padding: 5px;
}

.nav > li {
  display: inline-block;
}
.nav > li + li {
  margin-left: 20px;
}
.nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #0; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(0,0,0,.25);
  border-radius: 0px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
background-color: rgba(0,0,0,0);
  color: #000;
  border-bottom-color: #000;
  border-radius: 0px;
  }
  
img.img-responsive {
margin-left: auto;
margin-right: auto;

margin-bottom: 10px;

}

.prof-row {
background-color: #c03542;
}
.prof-row > h2{
text-align: center;
font-size: 80%;
}

h2.past-h2{
font-weight: regular;
text-size: 42px;
text-align: left;
}

.side-sticky{
list-style: none;
position: fixed;



}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 1260px) {
  /* carosel doesnt really fit on small screens */
#carousel-example-generic {
    display: none;
    }
#my-affix {
display: none;
  }

}
/*@media (max-width: 768px){
div.side-menu {
display: none;
  }
  }*/

.tooltip-inner {
    min-width: 100px; //the minimum width
}


a.hover-hand > img:hover{
opacity: 0.7;
}

div.side-menu{
position: absolute;
top:100px;
right: 100px;

}
div.affix {
position: fixed;
top: 40px;
right: 100px;
}


div.side-menu > ul > li > a{
font-size: 18px;
color: #e89f51;
text-decoration: none;
padding: 10px;

}
div.side-menu > ul > li > a:hover{
padding-left: 8px;
border-left: 2px solid #e89f51;

}

div.side-menu > ul > li {
font-size: 24px;
color: #eeeeee;
text-decoration: none;
padding: 10px;
padding: 10px;
list-style: none;
}


div.bottom-border{
border-bottom: 5px double #e89f51;
margin-bottom: 20px;
}

.separator {
border-bottom: 2px solid grey;
padding-bottom: 10px;
margin-bottom: 5px;
}



p{
font-size: 18px;
line-height: 200%;
padding-top: 20px;
}

.candice-aside{
font-family: "athelas",serif;
font-style: italic;
font-weight: 700;
font-size: 36px;

}

p.candice-aside{
font-family: "athelas",serif;
font-style: italic;
font-weight: 700;

font-size: 36px;
padding: -10px inherit 20px inherit;
border-bottom: 3px solid #e89f51;
border-top: 3px solid #e89f51;
}

ul.skillz > li {
color: white;
padding:5px;
margin:5px;
border: 0px;
border-radius: 10px;
background-color: #ffbe78;
}

.footer {
margin-top: 10px;
}
.footer > p {
font-size: 14px;
}

div.carousel-caption > p{
background-color: rgba(255, 255, 255, .7);
color: #777777;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0);
    border-bottom-color: #e5e5e5;
}

img.center {
display: block;
margin-left: auto;
margin-right: auto;
}

img.thirds {
width: 30%;
}